/**
 * Provides the styles for our archives, this also
 * includes our tag pages and anything like that.
 * @pages archives.html, tag/:name.html
 */
.archives {

  /**
   * The tags at the top of the page.
   * @pages archives.html
   */
  .tags {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    li {
      margin: .4rem;

      &::after {
        content: "";
      }
    }

    /**
     * Provides tags--w(n) which are modifiers that will
     *   change the background color, the font color and
     *   other stuff, based on the "weight"
     */
    @each $k, $v in $colors {
      &--w#{index($colors, $k $v) - 1} {
        background-color: $v;
        transition: background-color 1s ease;
        border: 1px solid darken($v, 6);
        color: $white;

        &:hover {
          border: 1px solid darken($v, 12);
          transition: background-color 1s ease;
          background-color: darken($v,  8);
        }
      }
    }
  }

  /**
   * Each article in the "list" for the archives.
   * We mock this out this way for SEO?
   */
  article {
    border-bottom: 0;
    align-items: center;
    line-height: 1rem;
    display: flex;
    margin-top: 0;

    header,
    footer {
      margin: 1rem 0;
    }

    header {
      width: 100%;

      h1 {
        font-weight: 300;
        font-size: $body-font-size;
        font-family: $body-font;
        font-stretch: normal;
        margin: 0;

        &::before {
          color: $green;
        }

        a {
          display: inline-block;
          color: inherit;

          &:hover {
            color: $blue;
          }

          &::after {
            content: " ";
          }
        }
      }
    }
  }

  h2 {
    color: $pink;
    text-shadow: 1px 1px 1px $grey;
    border-top: 1px solid darken($grey, 6);
    padding-top: 4vh;
  }
}

@media (max-width: 1036px) {
  .archives {
    article {
      header {
        h1 {
          white-space: nowrap;
          text-overflow: clip-word;
        }
      }
    }
  }
}
