.code {
  overflow-x: auto;
  margin: 4vh 0;

  & > pre {
    padding: .5rem 1rem;
    margin: 0;
  }

  /**
   * comments
   */
  .c1 {
    color: #6a737d;
  }

  /**
   * operator
   * special.keyword
   * variable.global
   * keyword
   */
  .o,
  .si,
  .k,
  .vg,
  .kd {
    color: #d73a49;
  }

  /**
   * variable
   * special.variable
   * function
   */
  .nc,
  .nf,
  .nx {
    color: #6f42c1;
  }

  /**
   * js.arguments
   * ruby.regular-methods
   * hash.hash-setter
   * self.method
   */
  .s2 + .o,
  .p  + .nf,
  .nc + .o,
  .p  + .nx {
    color: #40586e;
  }

  /**
   * yaml.list.key
   * special.regexp
   * yaml.str
   */
  .sr,
  .nv,
  .s {
    color: #22863a;
  }

  /**
   * string.escape
   * classes
   */
  .se,
  .no {
    color: #005cc5;
  }

  /**
   * yaml.key
   */
  .nt,
  .na {
    color: #e45649;
  }

  /**
   * yaml.bool
   * html.attr
   */
  .nt + .na,
  .pi + .no {
    color: #986801;
  }

  /**
   * ruby.str
   */
  .s2 {
    color: #50a14f;
  }

  /**
   * ruby.symbol
   */
  .ss {
    color: #0184bc;
  }
}
