/**
 * Global color modifiers.
 * You can @see the colors in ../vars.scss
 * It's all dynamic.
 */
@each $k, $v in $colors {
  .#{$k} {
    color: $v;

    a {
      color: inherit;
    }
  }

  .#{$k}--bg {
    background-color: $v;
  }
}
