div[class^="language-"].code {
  background: $grey;
  box-sizing: border-box;
  border: 1px solid darken($grey, 2);
  box-shadow: 1px 1px 1px $grey;
  padding: 0.4rem;
}

div.highlight {
  pre, code {
    padding: 0;
    background-color: transparent;
    font-size: $body-font-size - 0.16rem;
    border: none;
    margin: 0;
  }
}
