.pill {
  padding: .4rem 1rem;
  box-shadow: 1px 1px 2px darken($grey, 6);
  border-radius: 1000px;
  line-height: 1.6rem;

  @each $k, $v in $colors {
    &.#{$k}--bg {
      border: 1px solid darken($v, 6);
      transition: background-color 1s ease;
      color: $white;

      a {
        color: $white;
      }

      &:hover {
        transition: background-color 1s ease;
        background-color: darken($v, 12);
      }
    }
  }
}
