.progress {
  display: flex;
  margin: 2rem 0 0 -2.4%;
  flex-wrap: wrap;

  &__bar {
    margin: 0 0 0 2.4%;
    &__label {
      p {
        padding: 0;
        font-size: 0.94rem;
        text-align: center;
        margin: 0;
      }
    }
  }
}
