.projects {
  width: 100%;
  float: left;

  ul {
    margin: 0;
    grid-gap: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    width: 100%;
    padding: 0;

    li {
      float: left;
      grid-column: 1;
      display: inline-block;
      border-bottom: 1px solid darken($grey, 2);
      box-sizing: border-box;
      padding: 1rem 0;
      width: 100%;

      &:nth-child(even) {
        grid-column: 2;
      }
    }
  }
}
