.sr {
  &--hidden {
    opacity: 0;
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
    opacity: 0;

  }
}
