.skills {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;

  .skill__set {
    padding: 0;
    align-self: start;
    flex: 1 0 33.33%;
    margin: 0;

    h3 {
      text-align: center;
    }
  }
}
