table {
  padding: 0;
  border-collapse: collapse;
  box-shadow: 0px 0px 8px 4px lighten($grey, 1);
  border: 1px solid darken($grey, 4);
  width: 100%;

  th,
  td {
    padding: .4rem;
  }

  td {
    white-space: nowrap;
  }

  thead {
    background-color: $blue;
    box-shadow: 0px 0px 8px 2px darken($grey, 2);
    border-bottom: 1px solid darken($grey, 6);
    color: $white;

    tr {
      th {
        border-right: 1px solid darken($blue, 6);
        font-weight: 300;

        &:last-child {
          border-right: none;
        }

        code {
          background-color: $pink;
          border-color: darken($pink, 4);
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid darken($grey, 6);
        border-right:  1px solid darken($grey, 6);
      }

      &:nth-child(even) {
        background-color: lighten($grey, 2);
      }
    }
  }
}
