.wrapper {
  flex-direction: row;
  justify-content: center;
  max-width: $wrapper-width;
  flex-flow: row wrap;
  margin: 0px auto;
  display: flex;
}

@media (max-width: 1036px) {
  .wrapper {
    max-width: 88vw;
  }
}
