{
  "extends": "stylelint-config-standard",
  "processors": [
    "@mapbox/stylelint-processor-arbitrary-tags"
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "no-duplicate-at-import-rules": null
  }
}
