@media (max-width: 1036px) and (orientation: portrait) and
(-webkit-max-device-pixel-ratio: 1) {
  body {
    font-size: $body-font-size + $scale-1024wp-by;
    line-height: $body-line-height +
      $scale-1024wp-by;
  }

  h1 { font-size: $h1 + $scale-h1-1024wp-by; line-height: $h1 + $scale-h1-1024wp-by; }
  h2 { font-size: $h2 + $scale-h2-1024wp-by; line-height: $h2 + $scale-h2-1024wp-by}
  h3, h4, h5, h6 {
    font-size: $h-others + $scale-1024wp-by;
  }

  .site-header {
    h1 {
      font-size: $site-title-size +
        $scale-1024wp-by;
    }

    nav {
      ul {
        li {
          a {
            padding: 1.4vw;
          }
        }
      }
    }

    h1 {
      font-size: 4rem;
    }
  }

  .social {
    font-size: 6rem;
  }
}
