@media (max-width: 1036px) {
  .wrapper {
    max-width: 88vw;
    width: auto;
  }

  header {
    .sub-title {
      display: none;
    }
  }

  main {
    article {
      footer {
        .avatar {
          display: none;
        }
      }
    }
  }

  .archives {
    .tags {
      display: none !important;
    }

    article {
      header {
        h1 {
          width: 72vw;
          white-space: nowrap;
          text-overflow: clip-word;
          margin-right: 2vw;
          overflow: hidden;
        }
      }
    }
  }
}
