@import "vars";

::selection {
  background: $blue;
  color: $white;
}

body {
  font-size: $body-font-size;
  font-family: "Emoji", $body-font;
  line-height: $body-line-height;
  background-color: $white;
  margin: 0 0 2vh;
  color: $black;
}

b,
strong {
  font-weight: bold;
}

pre,
code,
p.code-file,
p.code-header,
p.file {
  font-family: $code-font;
  font-size: $body-font-size - 0.14rem;
}

h1 {
  font-size: $h1;
  line-height: $h1;
}

h2 {
  font-size: $h2;
  line-height: $h2;
}

h3,
h4,
h5,
h6 {
  line-height: $h-others;
  font-size:   $h-others;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;

  * {
    font-size: inherit;
  }
}

hr {
  margin: 2vh 0;
  border-bottom: 1px solid darken($grey, 4);
  border: 0;
}

main {
  width: 100%;
  padding: 0;

  .tag {
    header {
      text-align: left;

      h1 {
        margin-bottom: 2vh;
      }
    }
  }

  article {
    border-bottom: 2px dashed darken($grey, 4);
    margin-top: 8vh;

    &:last-child {
      border-bottom: 0;
    }

    pre {
      margin: 2vh 0 4vh;
      display: inline-block;
      width: 100%;
    }

    header {
      margin-top: 4vh;
      font-weight: bold;
      text-align: left;
      border-bottom: 0;

      h1,
      h2 {
        a {
          color: $pink;

          &:hover {
            color: $green;
          }
        }
      }
    }

    h2 {
      padding-bottom: 4vh;
      border-bottom: 1px solid darken($grey, 4);
      margin-top: 4vh;
    }

    &.post.page {
      footer {
        padding-top: 4vh;
        border-top: 1px solid darken($grey, 4);
        margin-top: 4vh;
      }
    }

    footer {
      align-items: center;
      color: darken($grey, 36);
      margin: 0 0 4vh;
      display: flex;

      div,
      time,
      img,
      p,
      ul {
        padding: 0;
        display: inline-block;
        margin: 0;
      }

      p.author {
        color: $blue;
        font-weight: bold;
        margin: 0;

        &::before { content: " by "; }
        &::after  { content: " on "; }

        &::after,
        &::before {
          font-weight: normal;
          color: darken($grey, 24);
        }
      }

      time {
        width: 100%;
      }

      .avatar {
        margin-right: 1rem;

        a {
          width: 3rem;
          height: 3rem;
          border-radius: 3rem;
          border: 2px solid darken($grey, 4);
          padding: 1px;
          float: left;
        }

        img {
          width: 3rem;
          border-radius: 3rem;
          height: 3rem;
        }
      }
    }

    p {
      margin: 4vh 0;
    }

    ol,
    ul {
      margin: 2rem 1rem;
    }

    blockquote {
      padding: 0 1rem;
      color: darken($grey, 12);
      border-left: 4px solid darken($grey, 6);
      box-sizing: border-box;
      margin: 0 1rem;
    }

    p.code-file,
    p.code-header,
    p.file {
      margin-top: 2rem;
      padding: .4rem .8rem;
      margin-bottom: -1.2rem;
      background: $pink;
    }
  }

  ul.tags {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    padding: 0;

    &::after {
      content: "\a";
    }

    li {
      display: inline;

      a {
        color: inherit;
      }

      &::after {
        content: ", ";
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    color: $pink;
  }
}

code {
  border-radius: 4px;
  background-color: $grey;
  border: 1px solid darken($grey, 4);
  padding: 0rem 0.3rem;
  line-height: 1rem;
}

@import "styles/archives";
@import "styles/code";
@import "styles/colors";
@import "styles/error";
@import "styles/header";
@import "styles/highlight";
@import "styles/pill-background";
@import "styles/positions";
@import "styles/projects";
@import "styles/right";
@import "styles/wrapper";
@import "styles/table";
