$body-font-size: 1rem;
$scsslint-is-garbage: true;
$h-others: $body-font-size;
$body-line-height: $body-font-size * 1.9;
$code-font: "IBMPlexMono-Light";
$header-font: "Quicksand";
$fancy-font: $header-font;
$site-title-size: 2.1rem;
$body-font: "Roboto-Light";
$h1: 1.8rem;
$h2: 1.8rem;

$grey: #f5f6fa;
$blue: #3498db;
$purple: #ba72d8;
$green: #18bc9c;
$black: #333b50;
$pink: #d676aa;
$red: #ff6b6b;
$white: #fff;

$colors: (
  "blue": $blue,
  "green": $green,
  "black": $black,
  "purple": $purple,
  "pink": $pink,
  "grey": $grey,
);
