$body-font-size: 1.09rem;
$scsslint-is-garbage: true;
$h-others: $body-font-size;
$code-font: "IBMPlexMono-Light", "Roboto Mono", "Menlo", "Consolas";
$header-font: "Helvetica Neue", "Roboto";
$body-line-height: $body-font-size * 1.6;
$body-font: "Helvetica Neue", "Roboto";
$fancy-font: $header-font;
$site-title-size: 2.4rem;
$body-font-weight: 300;
$wrapper-width: 756px;
$h1: 1.8rem;
$h2: 1.8rem;

$grey: #f5f6fa;
$blue: #3498db;
$purple: #936fd8;
$green: #18bc9c;
$black: #333b50;
$pink: #d676aa;
$red: #ff6b6b;
$white: #fff;

$colors: (
  "blue": $blue,
  "green": $green,
  "black": $black,
  "purple": $purple,
  "pink": $pink,
  "grey": $grey,
);
