/**
 * Lora
 */
@font-face {
  font-style: normal;
  font-display: fallback;
  font-family: "Lora";
  font-weight: 400;
  src: local('☺'),
    url(/assets/fonts/lora-400.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-display: fallback;
  font-family: "Lora";
  font-weight: 500;
  src: local('☺'),
    url(/assets/fonts/lora-500.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-display: fallback;
  font-family: "Lora";
  font-weight: 600;
  src: local('☺'),
    url(/assets/fonts/lora-600.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-display: fallback;
  font-family: "Lora";
  font-weight: 700;
  src: local('☺'),
    url(/assets/fonts/lora-700.woff2)
    format("woff2")
  ;
}
  /**
    * Italic
   */
  @font-face {
    font-style: italic;
    font-display: fallback;
    font-family: "Lora";
    font-weight: 400;
    src: local('☺'),
      url(/assets/fonts/lora-italic-400.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-display: fallback;
    font-family: "Lora";
    font-weight: 500;
    src: local('☺'),
      url(/assets/fonts/lora-italic-500.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-display: fallback;
    font-family: "Lora";
    font-weight: 600;
    src: local('☺'),
      url(/assets/fonts/lora-italic-600.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-display: fallback;
    font-family: "Lora";
    font-weight: 700;
    src: local('☺'),
      url(/assets/fonts/lora-italic-700.woff2)
      format("woff2")
    ;
  }

/**
 * Montserrat
 */
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 100;
  src: local('☺'),
    url(/assets/fonts/montserrat-100.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 200;
  src: local('☺'),
    url(/assets/fonts/montserrat-200.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 300;
  src: local('☺'),
    url(/assets/fonts/montserrat-300.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 400;
  src: local('☺'),
    url(/assets/fonts/montserrat-400.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 500;
  src: local('☺'),
    url(/assets/fonts/montserrat-500.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 600;
  src: local('☺'),
    url(/assets/fonts/montserrat-600.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 700;
  src: local('☺'),
    url(/assets/fonts/montserrat-700.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 800;
  src: local('☺'),
    url(/assets/fonts/montserrat-800.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 900;
  src: local('☺'),
    url(/assets/fonts/montserrat-900.woff2)
    format("woff2")
  ;
}
  /**
   * Italic
   */
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 100;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-100.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 200;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-200.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 300;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-300.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 400;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-400.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 500;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-500.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 600;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-600.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 700;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-700.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 800;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-800.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 900;
    src: local('☺'),
      url(/assets/fonts/montserrat-italic-900.woff2)
      format("woff2")
    ;
  }
/**
 * Poppins
 */
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 100;
  src: local('☺'),
    url(/assets/fonts/poppins-100.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 200;
  src: local('☺'),
    url(/assets/fonts/poppins-200.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 300;
  src: local('☺'),
    url(/assets/fonts/poppins-300.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 400;
  src: local('☺'),
    url(/assets/fonts/poppins-400.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 500;
  src: local('☺'),
    url(/assets/fonts/poppins-500.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 600;
  src: local('☺'),
    url(/assets/fonts/poppins-600.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 700;
  src: local('☺'),
    url(/assets/fonts/poppins-700.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 800;
  src: local('☺'),
    url(/assets/fonts/poppins-800.woff2)
    format("woff2")
  ;
}
@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  font-weight: 900;
  src: local('☺'),
    url(/assets/fonts/poppins-900.woff2)
    format("woff2")
  ;
}
  /**
   * Italic
   */
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 100;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-100.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 200;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-200.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 300;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-300.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 400;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-400.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 500;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-500.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 600;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-600.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 700;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-700.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 800;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-800.woff2)
      format("woff2")
    ;
  }
  @font-face {
    font-style: italic;
    font-family: "Poppins";
    font-display: swap;
    font-weight: 900;
    src: local('☺'),
      url(/assets/fonts/poppins-italic-900.woff2)
      format("woff2")
    ;
  }
/*!
 * @preserve
 * Dank Mono (v0.491)
 * © 2018 Phil Plückthun. All Rights Reserved.
 * This font is subject to a EULA. A user-licence can be acquired at:
 *   https://dank.sh
 */
@font-face{
  font-weight: normal;
  font-family: "Dank Mono";
  unicode-range: U+0000-007F;
  font-display: swap;
  font-style: normal;
  src: local('☺'),
    url(/assets/fonts/dank-400_1.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  font-family: "Dank Mono";
  unicode-range: U+0080-1AFF;
  font-display: swap;
  font-style: normal;
  src: local('☺'),
    url(/assets/fonts/dank-400_2.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  font-family: "Dank Mono";
  unicode-range: U+1B00-218F;
  font-display: swap;
  font-style: normal;
  src: local('☺'),
    url(/assets/fonts/dank-400_3.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  font-family: "Dank Mono";
  unicode-range: U+2190-21FF;
  font-display: swap;
  font-style: normal;
  src: local('☺'),
    url(/assets/fonts/dank-400_4.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  unicode-range: U+2200-10FFFF;
  font-family: "Dank Mono";
  font-display: swap;
  font-style: normal;
  src: local('☺'),
    url(/assets/fonts/dank-400_5.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  unicode-range: U+0000-007F;
  font-family: "Dank Mono";
  font-display: swap;
  font-style: italic;
  src: local('☺'),
    url(/assets/fonts/dank-italic-400_1.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  unicode-range: U+0080-1AFF;
  font-family: "Dank Mono";
  font-display: swap;
  font-style: italic;
  src: local('☺'),
    url(/assets/fonts/dank-italic-400_2.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  unicode-range: U+1B00-218F;
  font-family: "Dank Mono";
  font-display: swap;
  font-style: italic;
  src: local('☺'),
    url(/assets/fonts/dank-italic-400_3.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  unicode-range: U+2190-21FF;
  font-family: "Dank Mono";
  font-display: swap;
  font-style: italic;
  src: local('☺'),
    url(/assets/fonts/dank-italic-400_4.woff2)
    format('woff')
  ;
}
@font-face{
  font-weight: normal;
  unicode-range: U+2200-10FFFF;
  font-family: "Dank Mono";
  font-display: swap;
  font-style: italic;
  src: local('☺'),
    url(/assets/fonts/dank-italic-400_5.woff2)
    format('woff')
  ;
}
