$line-height: 2rem;
$base-font-size: 100%;
$secondary-font: "Noto Sans";
$post-title-font-size: 1.6rem;
$post-title-line-height: 4rem;
$page-header-line-height: 4rem;
$page-header-font-size: 3rem;
$layout-width: 750px;
$main-font: "Lora";
$font-size: 1rem;
