$line-height: 1.9rem;
$base-font-size: 100%;
$small-screen-line-height: 1.6rem;
$secondary-font: "Montserrat", sans-serif;
$mono-font: "Dank Mono", monospace;
$post-title-font-size: 1.6rem;
$post-title-line-height: 4rem;
$page-header-line-height: 4rem;
$page-header-font-size: 3rem;
$layout-width: 750px;
$font-size: 1.06rem;
$main-font: "Lora";
