@import "scss_vars";
@import "colors";

:root {
  --small-screen: #{$small-screen};
  --medium-screen: #{$medium-screen};
  --normal-screen: #{$normal-screen};
  --layout-width: #{$layout-width};

  --primary-font-color: var(--grey-800);
  --poppins-font-family: "Poppins", sans-serif;
  --montserrat-font-family: "Montserrat", sans-serif;
  --dank-mono-font-family: "Dank Mono", monospace;
  --lora-font-family: "Lora", serif;

  /** TODO switch this to --system-sans-serif-font-family */
  --system-font-family: -apple-system, BlinkMacSystemFont,
      avenir next, avenir, helvetica neue, helvetica, Ubuntu,
      roboto, noto, segoe ui, arial, sans-serif;
}
