<!DOCTYPE html>
<html>
  <head>
    {% asset bundle.css %}
    <link rel="canonical" href="{{ page | canonical_url }}">
    {% capture title %}{{ site.title }}{% endcapture %}
    {% capture title %}{{ title }}{% if page.title %} - {{ page.title }}{% endif %}{% endcapture %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.base_domain }}/feed.xml" title="{{ title }}" />
    {% if page.type == "post" %}{% include _schema.html %}{% endif %}
    {% asset bundle.js @defer @async %}
    {% include _layout/_analytics.html %}
    {% include _layout/_meta.html %}
    <title>{{ title }}</title>
  </head>

  <body id=envygeeks>
    <div class=wrapper>
      <header class=header>
        <nav>
          <ul>
            <li>
              <a href="/">
                Home
              </a>
            </li>

            {% for page in site.pages %}
              {% if page.nav %}
                <li>
                  {% capture class %}{% if page.nav.class %}class="{{ page.nav.class }}"{% endif %}{% endcapture %}
                  <a href="{{ page.url | append:site.baseurl | pretty }}" {{ class }}>
                    {{ page.nav.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>

        <h1>
          <a href="/" rel="me">
            {{ site.title }}
          </a>
        </h1>

        {% if site.data.social %}
          <div class="header__social">
            {% for account in site.data.social.sites %}
              <a href="{{ account[1] }}/{{ site.data.social.username }}">
                <i class="fa fa-{{ account[0] }} fa-{{ account[0] }}-square" aria-hidden="true">
                  <!-- EMPTY -->
                </i>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </header>

      <main class="content">
        {% if page.main %}
          {{ content }}

        {% else %}
          {% if page.type != "tag" %}
            {% include _article.html %}{% else %}{% include _tags.html %}
          {% endif %}
        {% endif %}
      </main>
    </div>
  </body>
</html>
