---
layout: master
---

<article class="page post">
  {% if page.title %}
    <header>
      <h1 class=reveal>
        {{ page.title |
            markdownify_title }}
      </h1>
    </header>
  {% endif %}

  <div id=content class=reveal-children>
    {{ content }}
  </div>

  <footer>
    <div class="avatar reveal">
      <a href="{{ page.metdata.created_by.url }}">
        {% asset "avatars/{{ page.metadata.created_by.avatar.id }}.jpg"
            alt="{{ page.metadata.created_by.name }}"
            magick:resize=48x48 %}
      </a>
    </div>

    <div>
      <p class="author reveal">
        <a href="{{ page.metdata.created_by.website }}">
          {{ page.metadata.created_by.name }}
        </a>
      </p>

      <ul class="tags">
        {% for tag in page.tags %}
          <li>
            <a href="{{ tag.url | pretty }}" class=reveal>
              🏷 {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <time datetime="{{ page.date | date:"%Y-%m-%dT%H:%M" }}" class=reveal>
        {{ page.date | ordinalize }}
      </time>
    </div>
  </footer>
</article>
