<div class="right" style="width: 300px; height: 300px;">
  <canvas id="popularity" width="300" height="300" class="right"></canvas>
  <script type="text/javascript">
    (() => {
      if (!window.charts) window.charts = [];
      let val = {
        name: "popularity",
        config: {
          type: "doughnut",
          options: {
            legend: {
              display: false
            }
          },

          data: {
            labels: [],
            datasets: [{
              data: [],
              backgroundColor: [
                "#d676aa",
                "#3498db",
                "#18bc9c",
                "#936fd8"
              ]
            }],
          }
        }
      };

      window.charts.push(val);
      {% for v in github.langs.popularity limit:4 %}
        val.config.data.labels.push(" {{ v[0] }}".toUpperCase());
        val.config.data.datasets[0].data.push({{ v[1] }});
      {% endfor %}
    })();
  </script>
</div>
