@media (max-width: 1024px) {
  body {
    font-size: $body-font-size + $scale-small-screen-by;
    line-height: $body-line-height +
      $scale-small-screen-by;
  }

  .wrapper {
    max-width: 88vw;
  }
}
