@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;

  src: local("Roboto Light"), local("RobotoLight"), local("Roboto-Light"),
    font_url("roboto-v16-latin-300.woff")  format("woff"),
    font_url("roboto-v16-latin-300.woff2") format(
      "woff2"
    );
}

@font-face {
  font-style: normal;
  font-family: "Quicksand";
  font-weight: 700;

  src: local("Quicksand Bold"), local("QuicksandBold"), local("Quicksand-Bold"),
    font_url("quicksand-v6-latin-700.woff")  format("woff"),
    font_url("quicksand-v6-latin-700.woff2") format(
      "woff2"
    );
}

.fa:before {
  font-family: "FontAwesome"
}
