@font-face {
  font-style: normal;
  font-family: "Quicksand";
  font-weight: 700;

  src: local("Quicksand Bold"), local("QuicksandBold"), local("Quicksand-Bold"),
    font_url("quicksand-v6-latin-700.woff")  format("woff"),
    font_url("quicksand-v6-latin-700.woff2") format(
      "woff2"
    );
}
