<footer>
  <div class="avatar">
    <a href="https://github.com/{{ post.author.handle }}">
      <img alt="{{ post.author.handle }} Avatar" src="{%
        asset_path "avatars/{{ post.author.handle }}"
      %}">
    </a>
  </div>

  <div>
    <p class="author">
      <a href="https://github.com/{{ post.author.handle }}">
        {{ post.author.name }}
      </a>
    </p>

    <ul class="tags">
      {% for tag in post.tags %}
        <li>
          <a href="{{ tag.url | pretty }}">
            {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <time datetime="{{ post.date | tt_datetime }}">
      {{ post.date | fancy_time }}
    </time>
  </div>
</footer>
