<footer>
  <div class="avatar">
    <a href="{{ post.metdata.created_by.url }}">
      {% asset "avatars/{{ post.metadata.created_by.avatar.id }}.jpg"
          alt="{{ post.metadata.created_by.name }}" %}
    </a>
  </div>

  <div>
    <p class="author">
      <a href="{{ post.metdata.created_by.website }}">
        {{ post.metadata.created_by.name }}
      </a>
    </p>

    <ul class="tags">
      {% for tag in post.tags %}
        <li>
          <a href="{{ tag.url | pretty }}">
            🏷 {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <time datetime="{{ post.date | date:"%Y-%m-%dT%H:%M" }}">
      {{ post.date | ordinalize }}
    </time>
  </div>
</footer>
