<div class="tag archives">
  <header>
    <h1>
      {{
        page.title
      }}
    </h1>
  </header>

  {% assign tags = site.tags[page.tag] | waterfall %}
  {% for post in tags %}
    <article>
      <header>
        <h1>
          <i class="fa fa-archive" aria-hidden="true" />
          <a href="{{ post.url | pretty }}">
            {{
              post.title | markdownify_title
            }}
          </a>
        </h1>
      </header>
      <footer>
        <time>
          {{
            post.date | archive_time
          }}
        </time>
      </footer>
    </article>
  {% endfor %}
</div>
