{% if site.ga %}
  <script>
    if(navigator.userAgent.indexOf("Speed Insights") == -1) {
      window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
      };

      ga.l = +new Date;
      ga("create", "UA-18997298-1", "auto");
      ga("send", "pageview");

      let ele = document.createElement("script")
      ele.setAttribute("src", "https://google-analytics.com/analytics.js")
      ele.setAttribute("async", true);
      document.querySelector("head").appendChild(
        ele
      )
    }
  </script>
{% endif %}
