---
url-id: 0d14da5f
id: 64f7f0b7-df94-4dcf-91b6-64091dc73e94
main: true
nav:
  title: Archives
---

<div class="archives">
  <ul class="tags">
    {% assign tags = site.tags | keys %}
    {% for tag in tags %}
    <li class="pill tags--w{{ tag.weight | round }}">
      <a title="Tag: {{ tag }}" href="{{ tag.url | pretty }}" class=reveal>
        {{ tag }}
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for post in site.posts_by_year %}
    {% assign currentYear = post.date | date:"%Y" %}
    {% unless year == currentYear %}
      <h2 class=reveal>
        {% assign year = currentYear %}{{ year }}
      </h2>
    {% endunless %}

    <article>
      <header>
        <h1>
          🔖
          <a href="{{ post.url | pretty }}" class=reveal>
            {{ post.title | markdownify_title }}
          </a>
        </h1>
      </header>
      <footer>
        <time class=reveal>
          {{ post.date | date:"%m/%d" }}
        </time>
      </footer>
    </article>
  {% endfor %}
</div>
