@font-face {
  font-style: normal;
  font-family: "IBM Plex";
  font-weight: 400;

  src: local("IBM Plex Sans"),
    local("IBMPlexSans"), local("IBMPlexRegular"), local("IBMPlex"),
    font_url("ibm-plex-sans-v053-latin-400.woff")  format("woff"),
    font_url("ibm-plex-sans-v053-latin-400.woff2") format(
      "woff2"
    );
}

@font-face {
  font-style: normal;
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
  font-family: "IBM Plex";
  font-weight: 400;

  src: local("Apple Color Emoji"), local("Android Emoji"),
       local("Segoe UI"), local("EmojiSymbols"),
       local("Symbola");

}

@font-face {
  font-style: normal;
  font-family: "IBM Plex Mono";
  font-weight: 400;

  src: local("IBM Plex Mono"),
    local("IBMPlexMono"), local("IBMPlexMonoRegular"),
    font_url("ibm-plex-mono-v053-latin-400.woff")  format("woff"),
    font_url("ibm-plex-mono-v053-latin-400.woff2") format(
      "woff2"
    );
}

@font-face {
  font-style: normal;
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
  font-family: "IBM Plex Mono";
  font-weight: 400;

  src: local("Apple Color Emoji"), local("Android Emoji"),
       local("Segoe UI"), local("EmojiSymbols"),
       local("Symbola");

}
