@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;

  src: local("Roboto Light"), local("RobotoLight"), local("Roboto-Light"),
    font_url("roboto-v16-latin-300.woff")  format("woff"),
    font_url("roboto-v16-latin-300.woff2") format(
      "woff2"
    );
}

@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;

  src: local("Apple Color Emoji"),
       local("Android Emoji"),
       local("Segoe UI"),
       local("EmojiSymbols"),
       local("Symbola");

  unicode-range:  U+1F300-1F5FF,
                  U+1F600-1F64F,
                  U+1F680-1F6FF,
                  U+2600-26FF;
}
